data/*
instagram_access.env
src/data/.temp
*.pyc
*.log
env
*.ipynb
readorsee.egg-info
.vscode
models/elmo/*.hdf5
models/elmo/*.tar.gz
models/elmo/*.index
models/elmo/events*
models/elmo/*.meta
models/elmo/checkpoint
models/elmo/fine_tuned_elmo
models/elmo/fc_weights/*.hdf5
models/fasttext/*
